@import url(/static/bariol/stylesheet.css);


html, body {
	font-family: 'bariol_regularregular', sans-serif;;
	font-size: 1.1em;
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
}

body {
	background: #f8c3bb;
	/*background-image: url("/static/bganim.gif");*/
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}
a { color: #000; text-decoration: none; }

#content_wrap {
	width: 100%;
	height: 100%;
}

#menu {
	position: absolute;
	bottom: 60px;
	width: 100%;
	/*text-align: center;*/
	/*top: 20px;*/
	/*right: 30px;*/
}

#menu a {
	display: block;
	font-family: 'bariol_boldbold';
	font-size: 0.9em;
	margin: 10px 40px 0px 40px;
	transition: all 100ms linear;
}

#menu img {
	height: 150px;
}

@media only screen and (max-device-width : 480px) {
	#menu a {
		display: block;
		margin: 40px 40px 0px 40px;
	}
	#menu img {
		height: 64px;
	}
	#menu {
		bottom: 120px;
	}
}

#menu_image_hi {
	margin-left: 20px;
}
#menu_image_work {
	margin-left: 6px;
}
#menu_image_past {
	margin-left: 20px;
}

#menu a:hover {
	color: #fff; /*rgba(255, 128, 128, 1.0);*/
}

#logo {
	/*position: absolute;*/
	/*top: 40%;*/
	width: 100%;
	height: 100%;
	/*left: 60px;*/
	/*background-image: url(mslogony2.png);*/
	/*background-size: 500px;*/
	/*background-position: center center;*/
	/*background-repeat: no-repeat;*/
	/*margin: auto;*/
	/*width: 229px;*/
	/*height: 222px;*/
	display: block;
}

audio {
	display: block;
	z-index: 999;
	position: fixed;
	bottom: 0;
	left: 0;
}
