@import url(/static/bariol/stylesheet.css);


html, body {
	font-family: 'bariol_regularregular', sans-serif;;
	font-size: 1.2em;
	margin: 0px;
	padding: 0px;
	text-align: center;
	line-height: 1.6em;
}
body {
	background: #faafc2;
}

body#contact { background: #faafc2; }
body { background: #faafc2; }
/*body#about { background: #FF00FF; }*/
/*body#about a:hover { color: #fff; }*/

.bigger { font-size: 1.3em; }

a { color: #000; text-decoration: none; }

#content_wrap {
	width: 100%;
	height: 100%;
}

#menu {
	position: absolute;
	top: 40px;
	right: 40px;
}

#menu a {
	font-family: 'bariol_boldbold';
	font-size: 1.2em;
	margin-left: 20px;
	transition: all 100ms linear;
}

#menu a:hover {
	color: #fff; /*rgba(255, 128, 128, 1.0);*/
}

a {
	transition: all 100ms linear;
}

a:hover {
	color: #fff; /*rgba(255, 128, 128, 1.0);*/
}

#hello {
	background-image: url(/static/tringli.png);
	background-repeat: no-repeat;
	background-size: 90%;
	background-position: center top;

	font-family: 'bariol_boldbold';

	width: 200px;
	padding-top: 170px;
	margin: 0px auto 80px auto;
	vertical-align: bottom;

	font-size: 0.6em;
}

#homebutton {
	background-image: url(/static/menu_back.png);
	background-repeat: no-repeat;
	background-position: center top;
	background-size: contain;

	display: block;
	width: 60px;
	height: 60px;
	position: absolute;
	top: 20px;
	left: 30px;
}

#description {
	width: 600px;
	margin: 0px auto 80px auto;
	padding-left: 40px;
	text-align: left;
	/*border: solid 1px #000;*/
}

#work ul, #past ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

#work ul li, #past ul li {
	width: 650px;
	display: inline-block;
	margin: 0px 10px 20px 10px;
	/*float: left;*/
}

#work ul li a, #past ul li a {
	height: 650px;
	display: block;

	background-repeat: no-repeat;
	background: #ddd;
	background-size: cover;
	background-position: center;
}

#about img, #work img, #past img {
	width: 100%;
	margin: 0px;
	padding: 0px;
	float: left;
}

#contact {
	line-height: 2.0em;
}

#contact img {
	width: auto;
	height: auto;
}
