@import url(/static/bariol/stylesheet.css);


html, body {
	font-family: 'bariol_regularregular', sans-serif;;
	font-size: 1.2em;
	margin: 0px;
	padding: 0px;
	text-align: center;
	line-height: 1.6em;
}
body {
	background: #fff;
	/*background-image: url("/static/bgstill.gif");*/
	background-size: cover;
	background-position: center center;
	background-repeat: repeat-y;
}

/*body#contact { background: #faafc2; }*/
/*body { background: #faafc2; }*/
/*body#about { background: #FF00FF; }*/
/*body#about a:hover { color: #fff; }*/

.bigger { font-size: 1.3em; }

a { color: #000; text-decoration: none; }

#content_wrap {
	width: 100%;
	height: 100%;
}

#menu {
	position: absolute;
	top: 20px;
	right: 30px;
}

#menu a {
	font-family: 'bariol_boldbold';
	font-size: 1.2em;
	margin-left: 20px;
	transition: all 100ms linear;
}

#menu a:hover {
	color: #fff; /*rgba(255, 128, 128, 1.0);*/
}

a {
	transition: all 100ms linear;
}

a:hover {
	color: #fff; /*rgba(255, 128, 128, 1.0);*/
}

#hello {
	background-image: url(https://41.media.tumblr.com/9b1a05e592d7a251bef9295fd180d5d4/tumblr_nq0877ICYP1snf70wo1_250.png);
	background-repeat: no-repeat;
	background-size: 90%;
	background-position: center top;

	font-family: 'bariol_boldbold';

	width: 200px;
	padding-top: 140px;
	margin: 0px auto 80px auto;
	vertical-align: bottom;

	font-size: 0.6em;
}

@media only screen and (max-device-width : 480px) {

	#hello {
		font-size: 1.2em;
	}

}

#homebutton {
	background-image: url(http://68.media.tumblr.com/2ca33e5dab7cc557773e0d93da1400ba/tumblr_ot5ii8R1IT1s771xno1_500.png);
	background-repeat: no-repeat;
	background-position: center top;
	background-size: contain;

	display: block;
	width: 60px;
	height: 60px;
	position: absolute;
	top: 20px;
	left: 30px;
}

#description {
	width: 560px;
	margin: 0px auto 80px auto;
	padding-left: 40px;
	text-align: left;
	/*border: solid 1px #000;*/
}

#work ul, #past ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

#work ul li {
	width: 650px;
	display: inline-block;
	margin: 0px 10px 20px 10px;
}

#past ul li {
	/* width: 650px; */
	width: 100%;
	/*display: inline-block;
	margin: 0px 10px 20px 10px;*/
	/*float: left;*/
}

#work ul li a, #past ul li a {
	height: 650px;
	display: block;

	background-repeat: no-repeat;
	background: #ddd;
	background-size: cover;
	background-position: center;
}

#about img, #work img, #past img {
	width: 100%;
	margin: 0px;
	padding: 0px;
	float: left;
}

#contact {
	line-height: 2.0em;
}

#contact img {
	width: auto;
	height: auto;
}
