
/*@import url(/static/sailors.css);*/
@import url(/static/bariol/stylesheet.css);
@import url(http://fonts.googleapis.com/css?family=Oswald);

html, body {
	font-family: 'bariol_regularregular', sans-serif;;
	font-size: 0.9em;
	margin: 0px;
	padding: 0px;
}

h1, h2, h3, h4, h5 { font-family: 'Oswald', sans-serif; }
h1 { font-size: 8.0em; }
h2 { font-size: 6.0em; }
h3 { font-size: 5.0em; }
h4 { font-size: 3.0em; }
h5 { font-size: 2.0em; }

a { color: #000; }

#content {
	margin: 0px auto 80px auto;
	width: 400px;
	text-align: center;
}

p {
	line-height: 1em;
}

ul, ul li {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

body#contact #content {
	width: 500px;
}

body#contact p {
	margin: 0px;
	padding: 0px;
}

body#contact ul {
	margin-top: 80px;
}

body#contact li {
	display: inline-block;
	width: 160px;
	height: 120px;
	
}

body#contact li a {
	position: relative;
	width: 160px;
	height: 120px;
	display: block;
}

body#contact li a>div {
	position: absolute;
	top: 40%;
	left: 0px;
	width: 100%;
	visibility: hidden;
}

body#contact li img {
	margin: 30px 50px;
	max-width: 40px;
	max-height: 40px;
}

body#contact li a:hover>img {
	visibility: hidden;
}

body#contact li a:hover>div {
	visibility: visible;
}

body#contact #address_box {
	
}

body#contact #address_box {
	

}

body#about h1 { margin-bottom: 0px; }

body#about>#content {
	width: 700px;
}

body#about>#content p {
	text-align: left;
	width: 500px;
}

body#about>#content img {
	width: 700px;
}

body#portfolio {
	
}

body#portfolio #content {
	width: 100%;
	max-width: 1000px;
}

body#portfolio ul {
	margin-top: 50px;
}

body#portfolio li {
	display: inline-block;
	width: 300px;
	height: 300px;
	margin: 2px;
}

body#portfolio a.splash {
	background-repeat: no-repeat;
	background: #ddd;
	background-size: cover;
	background-position: center;
	width: 300px;
	height: 300px;
	display: block;
}

body#portfolio_post h1 { font-size: 5.0em; }

body#portfolio_post #content {
	width: 620px;
}

body#portfolio_post p {
	text-align: left;
	margin: 40px 0px;
	line-height: 1.3em;
}

body#portfolio_post img {
	width: 100%;
}


body#portfolio_post>#content>#extra {
	margin-top: 80px;
}

body#portfolio_post>#content>#extra img {
	margin-top: 40px;
}

body#stuff>#content {
	width: 600px;
}

body#stuff h1 {
	margin-bottom: 80px;
}

body#stuff img {
	margin: 0px 0px 140px 0px;
	max-width: 100%;
	clear: both;
}

#backbutton {
	position: fixed;
	top: 100px;
	left: 100px;
	z-index: 999;
}
