---
---
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>kannibalin - past</title>
	<link rel="stylesheet" href="/static/site.css">
</head>
<body id="portfolio_post">
	<a href="/past/" id="backbutton"><img src="/static/back.png" alt=""></a>
	<div id="content">
		{% if page.hide != true %}
		<h1>{{ page.title | upcase }} </h1>
		<img class="splash" src="{{ page.splash }}">
		{{ content }}

		<div id="extra">
			{% for image in page.images %}
				<a href="{{ image }}"><img class="slideshow" src="{{ image }}"></a>
			{% endfor %}
		</div>
		{% endif %}
	</div>

</body>
</html>
